<div data-dc="ld/root" class="mi-root" style="background:#ededed;position:relative">
  <header class="mi-nav"><span style="width:20px"></span><span class="t">通讯录</span><span style="width:20px"></span></header>
  <div data-state="loading" class="flex flex-col gap-3 p-4">
    <div class="mi-skeleton" style="height:56px"></div>
    <div class="mi-skeleton" style="height:56px"></div>
    <div class="mi-skeleton" style="height:56px"></div>
    <div class="mi-skeleton" style="height:56px"></div>
  </div>
  <a data-dc="ld/done" data-goto="02-contacts" class="absolute inset-x-0 bottom-0 py-6 text-center text-[12px]" style="color:var(--color-text-secondary)">加载完成 →</a>
</div>
